@page
@using System.Net
@inject IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SimpleWeb v1</h1>
    <hr />
    <h3>Current Time (DateTime): @DateTime.Now</h3>
    <br />
    <h3>Site config: @(Configuration.GetValue<string>("AppSettings:SiteName"))</h3>
    <br />
    <h3>User: @Model.UserName</h3>
    <br />
    <h3>Host: @(Dns.GetHostName())</h3>
    <br />
</div>
